.bounce {
  animation: bounce 1s infinite ease-in-out;
  background-color:black;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px); /* Peak of the bounce */
  }
  100% {
    transform: translateY(0);
    scale: 1.2, 0.8; /* Squash effect at the bottom */
  }
}